*{
    font-family: 'Josefin Sans', sans-serif;
}
body {
    padding: 0;
    margin:0;
    background-color: rgb(248, 236, 207);
    font-size: 1.5em;
}
header {
    position: fixed;
    background-color: rgb(69, 12, 12);
    width:100%;
    top: 0;
    border:0;
    margin:0;
    padding-left: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
h1{
    text-align: center;
    font-size: 2.25em;
    color: rgb(156, 62, 62);
    margin:0;
    padding: 0;
    /* background-color: darkred; */
}
.icon{
    font-size: 2.25em;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    color: rgb(156, 62, 62);
}
.link > a{
    display: block;
    position: fixed;
    padding: auto;
    margin: 0;
    top: 0;
    right: 0;
    text-decoration: none;
    font-size: 2.25em;
    color: rgb(156, 62, 62);
 }
 .iconLink > p {
    display: none;
    position: fixed;
    margin: 0;
    bottom: 0;
    right: 0;
    text-decoration: none;
    font-size: 2.25em;
    color: rgb(156, 62, 62);
 }
.text {
    padding-top: 3em;
}
@media (max-width: 1111px) {
    .link > a{
       display: none;
       
    }
    .iconLink > p{
    display: block;
    font-size: 2em;
    top: 0;
    right: 0;
    color: rgb(156, 62, 62);
    }
} 

footer {
    position:fixed;
    width:100%;
    background-color: rgb(69, 12, 12);
    left: 0;
    margin: 0;
    padding: 0;
    bottom: 0;
}
#myselect{
    text-align: left;
    bottom: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    font-size: 1em;
    width: 50%;
}
#myselect > option{
    left: 0;
    bottom: 0;
    font-size: 0.75em;
}
.link2 {
    font-size: 2.25em;
    color: rgb(156, 62, 62);
    text-decoration: none;
}
.link3{
    box-sizing: border-box;
    float: right;
    padding: 0;
    margin: 0;
    color: rgb(156, 62, 62);
    text-decoration: none;
    font-size: 2em;
}
.dataMoment {
    margin-top: 2.5em;
}